/*импортировать сюда шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

:root{
    --black:#22202e;
    --red:#f03d33;
    --dark-blue:#343239;
    --gray:#666564;
    --white: #eedbdb;
}

*{
    box-sizing: border-box;
}

.header{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1440px;
    margin: auto;
}